


/* RESET DE CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN DE RESET DE CSS */

/* -------------MAIN----------------*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;

    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='373' height='373' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: waveAnimation 15s infinite linear;
}

.card-container{
    margin-top: 80px;
}




.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css de la tarjeta principal*/
.mat-card {
    background-color: rgba(209, 209, 209, 0.815);
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .mat-card-header h2,
  .mat-card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .input-group,
  .output-group {
    display: flex;
    align-items: center;
  }
  
  .input-group input,
  .output-group input {
    flex: 1;
    margin-right: 10px;
  }
  
  .select-with-images {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust as needed */
  }
  
  .select-with-images select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100px; /* Adjust as needed */
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding-right: 40px; /* Space for arrow */
    cursor: pointer;
  }

  
  
  .select-with-images img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
  }
  
  /* Custom dropdown arrow */
  .select-with-images::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555; /* Adjust color as needed */
    pointer-events: none;
  }




/* Estilo para las imágenes */
.select-with-images img {
    transform: translateY(-50%);
    width: 100px; /* Tamaño de la imagen */
    height: 50px;
}


.dropdown-menu {

    /* altura minima del menu desplegable de los dropdowns*/
    min-height: 400px;

    overflow-y: auto; /* Agrega un scrollbar si la lista es más larga que la altura máxima */
}

.prex{
    width: 64px;
    height: 64px;
}


  
  /* Update input and select dropdown colors */
  .form-control,
  .dropdown-toggle,
  .dropdown-menu {
    background-color: #ffffff; /* Replace with your desired color */
    border-color: #ced4da; /* Replace with your desired color */
    color: #495057; /* Replace with your desired color */
  }
  
  /* Update dropdown arrow color */
  .dropdown-toggle::after {
    border-top-color: #495057; /* color de la flecha del dropdown */
  }

  .btn:hover{
    background-color: #3b0c87;

  }
  
  .dropdown-menu a {
    position: relative;
    display: block;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown-menu a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 2, 2, 0.205); /* Cambia el color y la opacidad según tus preferencias */
  }
  


  

  
  .form-control{
    border-radius: 50px;
  }


  .transform-animation:hover{
    transition: transform 0.15s ease-in-out;
      transform: scale(1.02);
  }
  
  .transform-animation:active {
      transition: transform 0.10s ease-in-out;
      transform: scale(1);
    }




.dropdown-toggle {
    min-width: 350px; /* Establece el ancho mínimo deseado */
}

.input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    /* width: 1%; */ /* Comenta o elimina esta línea */
    width: 200px; /* O cambia a width: auto; */
    
    border-radius: 0%;
    min-width: 350px;
}

.input-container{
    display: flex;
    flex-direction: row;
    gap: 15px;

  }

  .origen-imagen{
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 500px;
  }


  .destino-imagen{
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 500px;
  }



/**media querys*/
@media screen and (max-width: 870px) {
    .input-group {
      flex-direction: column;
      gap: 10px;
    }
  


    .input-group input,
    .output-group input {
      flex: 1;
      margin-right: 0px;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {

    min-width: 280px;
}


.dropdown-toggle {
    min-width: 280px; /* Establece el ancho mínimo deseado */
}
  }


