/*
body{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #8a2be2);
    background-size: 100% 200%; /* Doble de la altura para permitir el movimiento 
    animation: waveAnimation 10s linear infinite alternate;
}
*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to bottom, #000000, #3b0c87);
    overflow: hidden;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #3b0c87);
    z-index: -1;
    animation: waveAnimation 5s infinite linear;
}

.card-container{
    margin-top: 80px;
}


input[type="number"] {
    min-width: 500px; /* Cambia el valor según tus necesidades */
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  .mat-card-header h2,
  .mat-card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .input-group,
  .output-group {
    display: flex;
    align-items: center;
  }
  
  .input-group input,
  .output-group input {
    flex: 1;
    margin-right: 10px;
  }
  
  .select-with-images {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust as needed */
  }
  
  .select-with-images select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100px; /* Adjust as needed */
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding-right: 40px; /* Space for arrow */
    cursor: pointer;
  }

  
  
  .select-with-images img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
  }
  
  /* Custom dropdown arrow */
  .select-with-images::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555; /* Adjust color as needed */
    pointer-events: none;
  }




/* Estilo para las imágenes */
.select-with-images img {
    transform: translateY(-50%);
    width: 100px; /* Tamaño de la imagen */
    height: 50px;
}


.dropdown-menu {

    /* altura minima del menu desplegable de los dropdowns*/
    min-height: 400px;

    overflow-y: auto; /* Agrega un scrollbar si la lista es más larga que la altura máxima */
}

.prex{
    width: 64px;
    height: 64px;
}

.mat-card {
    background-color: #fff; /* Replace with your desired color */
  }
  
  /* Update input and select dropdown colors */
  .form-control,
  .dropdown-toggle,
  .dropdown-menu {
    background-color: #ffffff; /* Replace with your desired color */
    border-color: #ced4da; /* Replace with your desired color */
    color: #495057; /* Replace with your desired color */
  }
  
  /* Update dropdown arrow color */
  .dropdown-toggle::after {
    border-top-color: #495057; /* color de la flecha del dropdown */
  }

  .btn:hover{
    background-color: #3b0c87;

  }
  
  .dropdown-menu a {
    position: relative;
    display: block;
    padding: 0.5rem;
  }
  
  .dropdown-menu a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 2, 2, 0.205); /* Cambia el color y la opacidad según tus preferencias */
  }
  

@keyframes waveAnimation {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-50px);
    }
}

