
/* RESET DE CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN DE RESET DE CSS */

/* -------------MAIN----------------*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;

    font-family: 'Helvetica', Arial, sans-serif;


    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='373' height='373' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");

    background-repeat: repeat;

    animation: scrollBackground 15s linear infinite;
}

/* Define la animación */
@keyframes scrollBackground {
    from {
        background-position: 0 0; /* Inicia desde la posición inicial */
    }
    to {
        background-position: 100% 100%; /* Termina en la posición final */
    }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: waveAnimation 15s infinite linear;
}

/*----------Efecto de fade in de la tarjeta------------*/
.card-container{
    margin-top: 15px;
    opacity: 0;
    animation: fadeIn 2s forwards;

}




@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  text-align: center;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  text-align: center; 

}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------css de la tarjeta principal-------------*/
.mat-card {
    background-color: rgba(209, 209, 209, 1);
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    gap: 2px;
    
  }

  .mat-card-header h2,
  .mat-card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .input-group,
  .output-group {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .input-group input,
  .output-group input {
    flex: 1;
    margin-right: 10px;
  }
  
  .select-with-images {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust as needed */
  }
  
  input[type="number"]:focus {
    border-color: #00FF00; /* Cambiar a verde (#00FF00) o el color que desees */
    border: 2px solid black;
    box-shadow: none; /* Opcional: para eliminar la sombra que a veces aparece en el foco */
    order:-10;
}

  .select-with-images select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px; /* Adjust as needed */
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding-right: 40px; /* Space for arrow */
    cursor: pointer;
  }

  
  
  .select-with-images img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
  }
  
  /* Custom dropdown arrow */
  .select-with-images::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555; /* Adjust color as needed */
    pointer-events: none;
  }




/* Estilo para las imágenes */
.select-with-images img {
    transform: translateY(-50%);
    width: 100px; /* Tamaño de la imagen */
    height: 50px;
}


.dropdown-menu {

    /* altura minima del menu desplegable de los dropdowns*/

    min-height:250px;
    overflow-y: auto; /* Agrega un scrollbar si la lista es más larga que la altura máxima */
}

.prex{
    max-width: 64px;
    max-height: 64px;
}


  
  /* Update input and select dropdown colors */
  .form-control,
  .dropdown-toggle,
  .dropdown-menu {
    background-color: #ffffff; /* Replace with your desired color */
    border-color: #dacece; /* Replace with your desired color */
    color: #495057; /* Replace with your desired color */
    min-width: 300px;
    padding-left: 30px;
  }
  
  /* Update dropdown arrow color */
  .dropdown-toggle::after {
    border-top-color: #495057; /* color de la flecha del dropdown */
  }

  .btn:hover{
    background-color: #3b0c87;

  }
  
  .dropdown-menu a {
    position: relative;
    display: block;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .dropdown-menu a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 2, 2, 0.205); /* Cambia el color y la opacidad según tus preferencias */
  }
  

  .prex img {
    width: 64px;
    height: 64px;
}
  

  
  .form-control{
    border-radius: 50px;
  }


  .transform-animation:hover{
    transition: transform 0.15s ease-in-out;
      transform: scale(1.02);
  }
  
  .transform-animation:active {
      transition: transform 0.10s ease-in-out;
      transform: scale(1);
    }




.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;

  }

  .origen-imagen {

    background-color: white;
    margin-top: 5px;
    width: 64px;
    height: 64px;
    border-radius: 500px;
  }


  .destino-imagen{
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 500px;
  }


  .bordered-box {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }

  .btn{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    max-width: 305px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px;
    padding-left: 15px;
    color: #fff;
    background-color: #3f8a52;
    height: 48px;
  
  
  }



  /* animacion de cambio de imagenes*/
  .slide-in-out {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .slide-in-out.active {
    transform: translateX(0);
  }

  .input-group>.form-control{
    margin-right: 0px;
  }



.btn:hover{
  background-color: #12c23e;
  text-align: center;
}

input[type="number"]{
  height: 48px;
  border-radius: 500px;
}



.corner-label {
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: rgba(209, 209, 209, 1);
  padding: 5px;
  border: none; /* Remove the border from the label */
  transform: translate(50%, -11.5%);
  font-size: 20px;
  padding: 0px 12px 5px 10px;
  white-space: nowrap;
}

input[type="number"] {
    font-family: 'Montserrat', sans-serif; /* Aplicar la fuente Montserrat a los input numéricos */
    /* Otros estilos opcionales */
    font-weight: 600; /* Peso de la fuente (400 es regular) */
    font-style: normal; /* Estilo de la fuente (normal es sin cursiva) */
    font-size: 18px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    /* Otros estilos de diseño */
    border: 1px solid #ccc; /* Borde del input */

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra alrededor del input */
    outline: none; /* Eliminar el contorno al hacer clic */
}

input[type="number"]:focus {
    border-color: #007bff; /* Cambiar color del borde al estar enfocado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Cambiar sombra al estar enfocado */
}

.input-container{
  margin-top: 10px;
}

.btn-generar{

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  width: 305px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  padding-left: 15px;
  color: #fff;
  background-color: #3f8a52;
  height: 40px;


}

.btn-telegram{

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  width: 305px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  padding-left: 15px;
  color: #fff;
  background-color: #229ED9;
  height: 40px;


}


/*REGLAS PARA ARREGLAR IOS */
body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

input[type="number"] {
  font-family: 'Montserrat', sans-serif;

  /* Otros estilos */
}

/*HASTA ACA IOS*/

/**media querys*/
@media screen and (max-width: 870px) {

  body{
      animation: scrollBackground 6s linear infinite;
  }
  .input-group {
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;
  }

  .bordered-box {

    padding: 10px;

  }

  .input-group input,
  .output-group input {
    flex: 1;
    margin-right: 0px;
  }

  .input-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {

  min-width: 250px;
}


.dropdown-toggle {
  min-width: 250px; /* Establece el ancho mínimo deseado */
  margin-left: 0px;
}

.mat-card {

  padding: 10px;
  margin: 0px;
  
}


h2{
  text-align: center;
}

.prex img {
  max-width: 64px;
  max-height: 64px;
}


.origen-imagen {
order: 0;
}

.input-group{
  order: 2;
  display: flex;
  gap: 7px;
}



.bordered-box {
  margin: 10px 0px;
}


.corner-label{
  left: 50%; /* Centra el label horizontalmente */
  transform: translateX(-50%);
}


}

@media screen and (max-width: 400px) {

  .form-control,
.dropdown-toggle,
.dropdown-menu {

  padding-left: 18px;
}
}

.dropdown-header{
  font-size: 25px;
  color: rgb(40, 40, 40);
}

.dropdown-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.mensaje-oculto{
  position: absolute;
  left: -9999px;
}

.intercambio-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

*{
  border: red 1px solid;
}

